body {
    background-color: rgb(14, 13, 13);
}
h1{
    color: white;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
}

.cont2 {
    display: flex;
    justify-content: center;
}
